<ion-content [fullscreen]="true">
  <div *ngIf="isCanceled; else transactionSuccess" class="transaction-success-container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Transaction canceled</ion-card-subtitle>
        <ion-card-title>Failed!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon class="custom-ion-icon" name="close" color="danger" size="large"></ion-icon>
        <p>Transaction has been canceled.</p>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #transactionSuccess>
    <div class="transaction-success-container">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Transaction Complete</ion-card-subtitle>
          <ion-card-title>Success!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon class="custom-ion-icon" name="checkmark-circle" color="success" size="large"></ion-icon>
          <p>You have successfully transferred {{amount}} {{nameContranct}} to {{key}}.</p>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-template>
</ion-content>



<style>
  .transaction-success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
  }

  ion-card {
    text-align: center;
    max-width: 500px;
  }

  .custom-ion-icon {
    font-size: 72px;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2em;
    margin-top: 20px;
  }
</style>
