<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>payments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ng-container *ngIf="transactions.length > 0; else noTransactions">
      <ion-item-group *ngFor="let transaction of transactions">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Payment: {{ transaction.amount }} {{ getContractType(transaction.contract) }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            from: {{ transaction.sender }}
          </ion-card-content>
          <ion-card-content>
            to: {{ transaction.receiver }}
          </ion-card-content>
        </ion-card>
      </ion-item-group>
    </ng-container>
    <ng-template #noTransactions>
      <ion-item-group>
        <ion-item>
          <ion-label>No transactions made</ion-label>
        </ion-item>
      </ion-item-group>
    </ng-template>
  </ion-list>

  <ion-modal trigger="modal-trigger" #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="left-title">Select a coin</ion-title>
          <ion-list slot="end">
            <ion-item>
              <ion-select aria-label="valuta1" interface="action-sheet" placeholder="{{selectedValuta}}"
                (ionChange)="handleChange($event)"
              >
                <ion-select-option value="USD">USD</ion-select-option>
                <ion-select-option value="EUR">EUR</ion-select-option>
                <ion-select-option value="SOL">SOL</ion-select-option>
                <ion-select-option value="BTC">BTC</ion-select-option>
                <ion-select-option value="ETH">ETH</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item *ngFor="let item of modalItems" (click)="onSelectedCoinClick(item)">
            <ion-label>{{ item.text }}</ion-label>
            <ion-icon slot="start" [src]="item.iconUrl"></ion-icon>
            <ion-label slot="end">{{item.price}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button id="modal-trigger" (click)="setPrices()" expand="block"><strong>Create transfer request</strong></ion-button>
  </ion-toolbar>
</ion-footer>

<ng-template #otherPrice>

</ng-template>
