<div style="display: flex; justify-content: center; align-items: center; height: 90vh;">
  <ion-card style="display: flex; justify-content: center; align-items: center; height: 25vh; border-radius: 25px">
    <div style="padding: 20px; border-radius: 35px; background-color: #1E1E1E; ">
      <img src="assets/images/Paysol_bw.png" alt="Logo" class="logo_small" style="width: 240px; height: auto;">
      <ion-grid>
        <ion-row>
          <ion-col size="12" style="display: flex; flex-direction: column; align-items: center;">
             <ion-list>
              <ion-item>
                <ion-select aria-label="wallet" interface="action-sheet"
                            placeholder="Select wallet"
                            (ionChange)="handleChange($event)"
                >
                  <ion-select-option value="phantom">Phantom Wallet</ion-select-option>
                  <ion-select-option value="solflare">SolFlare</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </ion-card>
</div>


