<ion-header [translucent]="true" *ngIf="selectedTab !== 'wallet'">
  <ion-toolbar>
    <ion-title class="ion-text-center" *ngIf="selectedTab !== 'scan'">
      <img src="assets/images/Paysol_bw.png" alt="Logo" class="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="payments" [selected]="selectedTab === 'payments'" (click)="selectedTab = 'payments'">
      <ion-label [class.selected-tab-label]="selectedTab === 'payments'">Payments</ion-label>
      <ion-icon name="logo-euro" [class.selected-tab-icon]="selectedTab === 'payments'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="scan" [selected]="selectedTab === 'scan'" (click)="selectedTab = 'scan'">
      <ion-label [class.selected-tab-label]="selectedTab === 'scan'">Scan</ion-label>
      <ion-icon name="qr-code-outline" [class.selected-tab-icon]="selectedTab === 'scan'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="wallet" [selected]="selectedTab === 'wallet'" (click)="selectedTab = 'wallet'">
      <ion-label [class.selected-tab-label]="selectedTab === 'wallet'">Wallet</ion-label>
      <ion-icon name="wallet-outline" [class.selected-tab-icon]="selectedTab === 'wallet'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="about-us" [selected]="selectedTab === 'about-us'" (click)="selectedTab = 'about-us'">
      <ion-label [class.selected-tab-label]="selectedTab === 'about-us'">About us</ion-label>
      <ion-icon name="information-circle-outline" [class.selected-tab-icon]="selectedTab === 'about-us'"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
