<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>aboutUs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="top: 5px">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h5 style="font-weight: bold; color: #3498db;">What is Paysol.me?</h5>
        <p>At Paysol.me, we are revolutionizing the way you interact with cryptocurrency.<br>
        Born from the vision of making crypto transactions as simple and as direct as possible,
        we offer a user-friendly platform that enables you to send and receive crypto payments with ease. </p>
        <h5 style="font-weight: bolder; color: #3498db;">Which crypto wallet does Paysol.me use?</h5>
        <p>By integrating with the Phantom wallet, we ensure that your transactions are not only quick but also secure.<br>
        We understand the importance of security in the crypto space, which is why we've implemented robust security measures to keep your assets safe.</p>

        <h5 style="font-weight: bolder; color: #3498db;">What does the Paysol.me community look like?</h5>
        <p>We're more than just an app; we're a community of crypto enthusiasts committed to making digital currency accessible to everyone, everywhere.
          Join us on this journey and experience the future of crypto payments with Paysol.me.</p>
        <br>

        <p style="font-weight: bolder; color: #3498db;">Our contact details:</p>
        <p>
           E-Mail: <a class="button" href="mailto:info@Paysol.me">info@Paysol.me</a><br>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

