// For the whole content to ensure flex direction is column (default)
ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center; // This will help in vertically aligning the content to center
  align-items: center; // This will center the content horizontally
}

// Styling the button
ion-button {
  width: 50%;
  margin-top: 0%;
  font-size: 1.5rem;
}

// If the qrcode component allows for a size attribute, you'll want to adjust that as well
