<ion-content class="ion-padding">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-sm="12" size-md="8" size-lg="6" size-xl="4" class="ion-text-center">
        <ion-card>
          <ion-card-content>
            <h2>Let the other person scan the QR code to complete the transaction,</h2>
            <h2>Or send a transaction link directly.</h2>
            <br/>
            <qrcode #qrcode [qrdata]="idUrl" [width]="256"></qrcode>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-text-center ion-margin-top">
    <ion-button (click)="shareUrl()">
      Send
      <ion-icon name="paper-plane-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>


