<br>
<br>
<br>
<br>
<br>
<br>
<br>

<ion-card>
  <img src="assets/images/Paysol_bw.png" alt="Logo" class="logo_small" style="display: block; margin: auto; width: 260px;">
  <ion-content>
    <div class="centered-content">
      <div>
        <h4>Wallet Connected <ion-icon style="color: #2dd36f" name="checkmark-sharp"></ion-icon></h4><h6>Adres: {{publicKey}}</h6>
        <ion-button (click)="disconnect()" size="default">
          Disconnect
        </ion-button>
      </div>
    </div>
  </ion-content>
</ion-card>
