ion-content {
  --background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27vh;
  padding: 0;
  bottom: 0px;
}

ion-card {
  width: 86%;
  margin: 0;
  padding: 0px;
  left: 7%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  bottom: 320px;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0 20px;

}

.centered-content > div {
  width: 100%;
}

ion-button {
  margin-top: 20px;
  width: 70%;
  max-width: 300px;
  align-self: center;
}

h4{
  word-wrap: break-word;
}
h6{
  color: #a9c0ea;
  word-wrap: break-word;
}
